name: Deploy to EKS

on:
  workflow_dispatch:
  push:
    branches: ["dev", "main"]
  pull_request:
    branches: ["dev", "main"]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  ECR_REPO: eks-demo-api
  EKS_CLUSTER_NAME: eks-demo-cluster
  CHART_PATH: ./helm/fastapi-eks-demo

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/github-oidc-role-dev
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - name: Build & Push Docker Image
        id: build
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          ECR_URL="${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPO }}"

          echo "image_url=$ECR_URL" >> $GITHUB_OUTPUT
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

          docker build -t "$ECR_URL:$IMAGE_TAG" ./app
          docker push "$ECR_URL:$IMAGE_TAG"